
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


 * {
    font-family: 'Inter';
  }

.focus\:ring-4:focus {
    box-shadow: none !important;
}
[type='search']:focus {
  box-shadow: unset !important;
}
input[type="search"]::-webkit-search-decoration:hover,
input[type="search"]::-webkit-search-cancel-button:hover { 
    cursor:pointer; 
}
.first\:rounded-tr-lg:last-child {
  border-bottom-right-radius: 0.5rem;
}
@media (min-width:520px) {
  .lg\:w-\[500px\] {
    width: 500px;
  }
}
@media (max-width:520px) {
.md\:border {
  border-width: 0;
}
}